@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
  :root {
    overflow-x: hidden;
  }
}

body {
  overflow-x: hidden;
}
.custom-scrollbar::-webkit-scrollbar {
  width:0;
  height: 0;
}
